body {
    font-family: 'Open Sans', sans-serif;

    a {
        text-decoration: none;
    }

    header {
        background: whitesmoke url(../img/border-only-shield.png) no-repeat center;
        overflow: hidden;
        padding: 10px;
        position: relative;
        z-index: 5;
        line-height: 48px;

        a {
            font-size: 12px;
        }

        #fsLink {
            float: left;
        }

        #usdaLink {
            float: right;
        }
    }

    nav {

        position: relative;
        z-index: 3;

        ul,li {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        >ul {
            text-align: center;
            position: relative;
            z-index: 3;
            background-color: #2c353a;

            >li {
                display: inline-block;
                width: 15%;
                max-width: 250px;
                min-width: 100px;
                height: 48px;

                >a {
                    color: #fff;
                    font-size: 12px;
                    display: block;
                    line-height: 48px;
                    height: 48px;
                    transition: all 100ms ease-in;
                }


                &:hover,
                &.active {
                    >a {
                       background-color: darken(#2c353a, 15%);
                    }


                }

            }
        }

        .dropDownMenu {

            position: absolute;
            top: 48px;
            width: 100%;
            background: #fff;
            background: rgba(245,245,245,.95);
            left: 0;
            text-align: center;
            overflow: hidden;
            z-index: 1;
            display: none;
            -webkit-box-shadow: 5px 1px 0px 2px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 5px 1px 0px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 1px 0px 2 px rgba(0, 0, 0, 0.5);

            ul {
                display: inline-block;
                padding: 10px 20px;
                position: relative;

                li {
                    text-align: left;
                   a {
                       color: #333;
                       font-size: 12px;
                       line-height: 24px;
                       display: block;
                       text-align: left;
                       padding: 4px 5px;

                       &:hover {
                         background-color: darken(darkorange, 5%);
                         color: #fff;
                         border-radius: 3px;
                       }


                   }


                }

                &:last-of-type {

                    top: 0;
                }
            }

            &.active {
                max-height:1000px;
            }



        }
    }

    .content {
        .leadImage {
            position: relative;
            height: 400px;
            overflow: hidden;
            background-size: cover;
            background-image: url(../img/carney_springs.jpg);
            background-position: 0 66% ;

            .details {
                position: absolute;
                right: 20px;
                bottom: 20px;
                background: darken(#2c353a, 7%);
                color: #fff;
                font-size: 10px;
                /* width: 100px; */
                padding: 0 10px;

                a {
                  color: #fff;
                  text-decoration: underline;
                }
            }

        }
    }
}

@media (max-width: 740px) {
  body {
    .content {
      .leadImage {
        height: 200px;
      }
    }
  }
}