@font-face {
  font-family: "open_sanssemibold";
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "open_sanslight";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "open_sansbold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
html, body {
  height: 100%;
}

body {
  font-family: open_sansregular;
  transition: all .15s ease;
}
body .flexcontainer {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
}
body .flexcontainer .sidebar {
  display: flex;
  width: 210px;
  background-color: #353535;
  color: #fff;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  min-height: 100vh;
}
body .flexcontainer .sidebar .header {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  height: 60px;
}
body .flexcontainer .sidebar .header .shield {
  width: 30px;
  height: 33px;
  margin-left: 15px;
}
body .flexcontainer .sidebar .header .usfs {
  line-height: 30px;
  padding-left: 10px;
  box-sizing: border-box;
  font-family: open_sanssemibold;
}
body .flexcontainer .sidebar nav {
  flex: 1;
  display: flex;
  padding-top: 10px;
}
body .flexcontainer .sidebar nav ul, body .flexcontainer .sidebar nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body .flexcontainer .sidebar nav > ul {
  width: 100%;
}
body .flexcontainer .sidebar nav > ul > li > a {
  display: block;
  color: #fff;
  font-family: open_sanssemibold;
  font-size: 14px;
  padding-left: 15px;
  line-height: 2.8em;
  transition: all .25s ease;
}
body .flexcontainer .sidebar nav > ul > li > a:hover {
  background-color: #1e1e1e;
  text-decoration: none;
  color: #4cc2ff;
}
body .flexcontainer .sidebar footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  font-size: 14px;
  font-family: open_sanssemibold;
  color: #fff;
  position: relative;
}
body .flexcontainer .sidebar footer .siteInfoLink {
  color: #fff;
  text-decoration: none;
}
body .flexcontainer .sidebar footer .glyphicon {
  color: #a6a6a6;
}
body .flexcontainer .sidebar footer:hover {
  cursor: pointer;
}
body .flexcontainer .sidebar footer .siteDrawer {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: #ccc;
  transition: all .5s ease;
  padding: 10px;
  box-sizing: border-box;
  font-family: open_sansregular;
}
body .flexcontainer .sidebar footer .siteDrawer ul, body .flexcontainer .sidebar footer .siteDrawer li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body .flexcontainer .sidebar footer .siteDrawer a {
  font-size: 13px;
  font-weight: normal;
}
body .flexcontainer .sidebar footer .siteDrawer .address {
  color: #1e1e1e;
  font-size: 13px;
}
body .flexcontainer .content {
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  flex: 1;
}
body .flexcontainer .content .titlebar {
  background-color: #e9e9e9;
  font-size: 16px;
  color: #000;
  line-height: 60px;
  display: flex;
  padding-left: 25px;
  height: 60px;
}
body .flexcontainer .content .main {
  overflow-y: auto;
  flex: 1;
  height: 0;
}
body .flexcontainer .content .wideBlock {
  width: 100%;
  padding: 55px;
  font-size: 14px;
  line-height: 2;
}
body .flexcontainer .content .wideBlock h2 {
  text-align: center;
}
body .flexcontainer .content .photobg {
  background-image: url(../img/rivervalley_lowres_blue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
body .flexcontainer .content .letter {
  background: transparent url(../img/halftone.png) repeat top left;
}
body .flexcontainer .buttonBox {
  display: flex;
  justify-content: center;
  align-content: center;
}
body .flexcontainer .buttonBox .outlineBtn {
  border: 1px solid #727272;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 10px 20px;
  transition: all .15s ease;
  text-decoration: none;
  margin: 55px;
}
body .flexcontainer .buttonBox .outlineBtn .fineprint {
  font-size: 10px;
  display: block;
  text-transform: lowercase;
  line-height: 1;
}
body .flexcontainer .buttonBox .outlineBtn.dark {
  color: #1e1e1e;
}
body .flexcontainer .buttonBox .outlineBtn.dark:hover {
  border-color: #000;
}
body .flexcontainer .buttonBox .outlineBtn.small {
  padding: 5px 10px;
  font-size: 12px;
  margin: 25px;
}
body .flexcontainer .buttonBox .outlineBtn:hover {
  border-color: #fff;
  cursor: pointer;
  -ms-transform: scale(1.1, 1.1);
  /* IE 9 */
  -webkit-transform: scale(1.1, 1.1);
  /* Chrome, Safari, Opera */
  transform: scale(1.1, 1.1);
}
body.home a.topLevelLink#homeLink, body.abs a.topLevelLink#absLink, body.ga a.topLevelLink#gaLink, body.inc a.topLevelLink#incLink, body.jobs a.topLevelLink#jobsLink {
  background-color: #1e1e1e;
  color: #9cfe01;
}
