@font-face {
  font-family: "open_sanssemibold";
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "open_sanslight";
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "open_sansbold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
html, body {
  height: 100%; }

body {
  font-family: open_sansregular;
  transition: all .15s ease;
  text-rendering: optimizeLegibility; }
  body .flexcontainer {
    opacity: 0;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
    min-height: 100vh; }
    body .flexcontainer .sidebar {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      width: 210px;
      min-width: 210px;
      background-color: #353535;
      color: #fff;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      min-height: 100vh;
      overflow: hidden; }
      body .flexcontainer .sidebar .header {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        -webkit-flex-flow: column;
        -moz-flex-flow: column;
        flex-flow: column;
        background-color: #1e1e1e; }
        body .flexcontainer .sidebar .header .usda {
          background-color: #f1f1d7;
          background: #f1f1d7 url("/business/2/proto1/img/small_topo.gif") no-repeat top left;
          font-size: 11px;
          font-family: "Rokkitt", Georgia, serif;
          color: #5c5753;
          width: 100%;
          line-height: 33px;
          text-align: center;
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: auto;
          -moz-box-flex: auto;
          box-flex: auto;
          -webkit-flex: auto;
          -moz-flex: auto;
          -ms-flex: auto;
          flex: auto;
          -webkit-box-pack: center;
          -moz-box-pack: center;
          box-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          -o-justify-content: center;
          justify-content: center;
          -ms-flex-pack: center; }
        body .flexcontainer .sidebar .header .shield {
          width: 100%;
          height: 7.8125em;
          background-color: #2e1e11;
          font-family: "Rokkitt", Georgia, sans-serif;
          font-size: 16px;
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: auto;
          -moz-box-flex: auto;
          box-flex: auto;
          -webkit-flex: auto;
          -moz-flex: auto;
          -ms-flex: auto;
          flex: auto;
          -webkit-box-pack: center;
          -moz-box-pack: center;
          box-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          -ms-justify-content: center;
          -o-justify-content: center;
          justify-content: center;
          -ms-flex-pack: center;
          -webkit-box-align: center;
          -moz-box-align: center;
          box-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -o-align-items: center;
          align-items: center;
          -ms-flex-align: center; }
          body .flexcontainer .sidebar .header .shield img {
            margin-right: 10px; }
        body .flexcontainer .sidebar .header .usfs {
          line-height: 30px;
          padding-left: 10px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-family: open_sanssemibold; }
      body .flexcontainer .sidebar nav {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        background-color: #5c5753;
        padding-top: 10px; }
        body .flexcontainer .sidebar nav ul, body .flexcontainer .sidebar nav li {
          list-style-type: none;
          margin: 0;
          padding: 0; }
        body .flexcontainer .sidebar nav > ul {
          width: 100%; }
          body .flexcontainer .sidebar nav > ul > li > a {
            display: block;
            color: #fff;
            font-family: open_sanssemibold;
            font-size: 12px;
            padding-left: 15px;
            line-height: 2.8em;
            border-right: 8px solid transparent;
            -webkit-transition: all 0.15s ease;
            -moz-transition: all 0.15s ease;
            transition: all 0.15s ease; }
            body .flexcontainer .sidebar nav > ul > li > a:hover {
              background-color: #1e1e1e;
              text-decoration: none;
              color: #4cc2ff; }
          body .flexcontainer .sidebar nav > ul > li .subnavList a {
            display: block;
            padding: 5px 20px;
            font-size: .8em;
            color: #fff; }
            body .flexcontainer .sidebar nav > ul > li .subnavList a:hover {
              text-decoration: none;
              background-color: #1e1e1e;
              color: #4cc2ff; }
      body .flexcontainer .sidebar footer {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        height: 36px;
        font-size: 14px;
        font-family: open_sanssemibold;
        color: #fff;
        position: relative; }
        body .flexcontainer .sidebar footer .siteInfoLink {
          color: #fff;
          text-decoration: none; }
        body .flexcontainer .sidebar footer .glyphicon {
          color: #a6a6a6; }
        body .flexcontainer .sidebar footer:hover {
          cursor: pointer; }
        body .flexcontainer .sidebar footer .siteDrawer {
          position: absolute;
          bottom: -321px;
          left: 0;
          width: 100%;
          background-color: #ccc;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          transition: all 0.5s ease;
          padding: 15px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-family: open_sansregular; }
          body .flexcontainer .sidebar footer .siteDrawer ul, body .flexcontainer .sidebar footer .siteDrawer li {
            list-style-type: none;
            padding: 0;
            margin: 0; }
          body .flexcontainer .sidebar footer .siteDrawer a {
            font-size: 13px;
            font-weight: normal; }
          body .flexcontainer .sidebar footer .siteDrawer .address {
            color: #1e1e1e;
            font-size: 13px; }
          body .flexcontainer .sidebar footer .siteDrawer .siteDrawerHandle {
            position: absolute;
            width: 20px;
            height: 20px;
            top: -20px;
            right: 0; }
            body .flexcontainer .sidebar footer .siteDrawer .siteDrawerHandle #siteDrawerHandleLabel {
              text-indent: -8999em;
              position: absolute; }
            body .flexcontainer .sidebar footer .siteDrawer .siteDrawerHandle .glyphicon {
              color: #000;
              background-color: #ccc;
              padding: 3px; }
              body .flexcontainer .sidebar footer .siteDrawer .siteDrawerHandle .glyphicon.glyphicon-arrow-down {
                display: none; }
            body .flexcontainer .sidebar footer .siteDrawer .siteDrawerHandle:hover .glyphicon-remove {
              display: none; }
            body .flexcontainer .sidebar footer .siteDrawer .siteDrawerHandle:hover .glyphicon-arrow-down {
              display: block; }
          body .flexcontainer .sidebar footer .siteDrawer.opened {
            bottom: 0; }
    body .flexcontainer .content {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-flex: auto;
      -moz-box-flex: auto;
      box-flex: auto;
      -webkit-flex: auto;
      -moz-flex: auto;
      -ms-flex: auto;
      flex: auto;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      -o-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: start;
      min-height: min-content; }
      body .flexcontainer .content h1, body .flexcontainer .content h2, body .flexcontainer .content h3, body .flexcontainer .content h4, body .flexcontainer .content h5 {
        font-family: "Rokkitt", Georgia, sans-serif;
        font-weight: bold;
        text-rendering: optimizeLegibility;
        margin: 0; }
      body .flexcontainer .content .titlebar {
        color: #000;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        padding: 4em 10vh 0;
        width: 100%; }
        body .flexcontainer .content .titlebar div {
          max-width: 800px;
          width: 800px; }
          body .flexcontainer .content .titlebar div h1 {
            font-size: 24px; }
      body .flexcontainer .content .breadcrumbs {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        width: 100%;
        margin-bottom: 40px;
        padding: 0 10vh 1em; }
        body .flexcontainer .content .breadcrumbs ul, body .flexcontainer .content .breadcrumbs li {
          margin: 0;
          padding: 0;
          list-style-type: none; }
        body .flexcontainer .content .breadcrumbs ul {
          width: 100%;
          max-width: 800px;
          line-height: 1; }
        body .flexcontainer .content .breadcrumbs li {
          display: inline-block;
          line-height: 1; }
          body .flexcontainer .content .breadcrumbs li a {
            font-size: 9px;
            color: #000;
            text-transform: capitalize;
            line-height: 1;
            padding: 0;
            margin: 0; }
            body .flexcontainer .content .breadcrumbs li a:after {
              content: " > "; }
            body .flexcontainer .content .breadcrumbs li a:hover {
              text-decoration: none; }
          body .flexcontainer .content .breadcrumbs li:last-child a:after {
            content: ""; }
      body .flexcontainer .content .section {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 10vh;
        background-color: #fff; }
        body .flexcontainer .content .section.mainCols {
          -webkit-box-orient: horizontal;
          -moz-box-orient: horizontal;
          box-orient: horizontal;
          -webkit-flex-direction: row;
          -moz-flex-direction: row;
          flex-direction: row;
          -ms-flex-direction: row;
          -webkit-box-lines: single;
          -moz-box-lines: single;
          box-lines: single;
          -webkit-flex-wrap: nowrap;
          -moz-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex; }
        body .flexcontainer .content .section.fullbg {
          max-width: 100%;
          background-size: cover; }
        body .flexcontainer .content .section.contactbg {
          background-color: #fff;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(../img/contactbg.jpg); }
        body .flexcontainer .content .section.callbg {
          background-color: #000;
          background-image: url(../img/ironfire.jpg);
          color: #000; }
        body .flexcontainer .content .section.incibg {
          background-image: url(../img/mossybark.jpg);
          color: #fff;
          background-color: #000; }
        body .flexcontainer .content .section.tabs {
          -webkit-box-flex: auto;
          -moz-box-flex: auto;
          box-flex: auto;
          -webkit-flex: auto;
          -moz-flex: auto;
          -ms-flex: auto;
          flex: auto;
          padding: 0; }
          body .flexcontainer .content .section.tabs .tabpanel {
            max-width: none;
            padding: 0 10vh;
            display: -webkit-box;
            display: -moz-box;
            display: box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: column;
            -moz-flex-flow: column;
            flex-flow: column; }
            body .flexcontainer .content .section.tabs .tabpanel .tablist {
              padding: 10vh 0 0;
              display: -webkit-box;
              display: -moz-box;
              display: box;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -moz-box-pack: center;
              box-pack: center;
              -webkit-justify-content: center;
              -moz-justify-content: center;
              -ms-justify-content: center;
              -o-justify-content: center;
              justify-content: center;
              -ms-flex-pack: center;
              list-style-type: none;
              border-bottom: 1px solid #ccc;
              margin-left: -10vh;
              margin-right: -10vh; }
              body .flexcontainer .content .section.tabs .tabpanel .tablist li {
                list-style-type: none;
                padding: 0;
                margin: 0;
                background: #ccc;
                color: #585858;
                padding: 1vh;
                margin-right: 1em;
                border: 1px solid #ccc;
                border-bottom-width: 0;
                transition: all 0.25s ease;
                font-size: 12px; }
                body .flexcontainer .content .section.tabs .tabpanel .tablist li:last-child {
                  margin-right: 0; }
                body .flexcontainer .content .section.tabs .tabpanel .tablist li:hover {
                  cursor: pointer;
                  background-color: #1e1e1e;
                  color: #4cc2ff;
                  margin-bottom: -1px;
                  border-bottom-color: #fff; }
                body .flexcontainer .content .section.tabs .tabpanel .tablist li.selected {
                  margin-bottom: -1px;
                  background-color: #fff;
                  color: #000;
                  border-bottom-color: #fff; }
            body .flexcontainer .content .section.tabs .tabpanel .tabContent {
              max-width: 800px;
              width: 100%;
              padding-top: 5vh;
              display: -webkit-box;
              display: -moz-box;
              display: box;
              display: -webkit-flex;
              display: -moz-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-flex-flow: column;
              -moz-flex-flow: column;
              flex-flow: column;
              -webkit-box-pack: start;
              -moz-box-pack: start;
              box-pack: start;
              -webkit-justify-content: flex-start;
              -moz-justify-content: flex-start;
              -ms-justify-content: flex-start;
              -o-justify-content: flex-start;
              justify-content: flex-start;
              -ms-flex-pack: start;
              -webkit-align-self: center;
              -moz-align-self: center;
              align-self: center;
              -ms-flex-item-align: center;
              -webkit-align-content: center;
              -moz-align-content: center;
              align-content: center;
              -ms-flex-line-pack: center;
              -webkit-box-flex: auto;
              -moz-box-flex: auto;
              box-flex: auto;
              -webkit-flex: auto;
              -moz-flex: auto;
              -ms-flex: auto;
              flex: auto; }
        body .flexcontainer .content .section > div:first-of-type {
          max-width: 800px;
          width: 100%; }
          body .flexcontainer .content .section > div:first-of-type .splot {
            display: block;
            width: 50%;
            float: left;
            box-sizing: border-box;
            padding: 1em; }
            body .flexcontainer .content .section > div:first-of-type .splot:nth-child(2n) {
              padding-left: 0; }
            body .flexcontainer .content .section > div:first-of-type .splot .caption {
              color: #000;
              font-size: 11px;
              text-decoration: none;
              display: block; }
        body .flexcontainer .content .section.colorBlock div:first-of-type .splot {
          color: #fff; }
          body .flexcontainer .content .section.colorBlock div:first-of-type .splot .caption {
            color: #fff; }
        body .flexcontainer .content .section.clean {
          padding-top: 0; }
        body .flexcontainer .content .section .light {
          color: #fff; }
        body .flexcontainer .content .section #absContacts,
        body .flexcontainer .content .section #absContacts li {
          list-style-type: none;
          padding: 0;
          margin: 0; }
        body .flexcontainer .content .section #absContacts li {
          text-align: center;
          display: block;
          font-size: 24px;
          background-color: rgba(0, 0, 0, 0.35); }
          body .flexcontainer .content .section #absContacts li a {
            background: transparent;
            color: #fff; }
            body .flexcontainer .content .section #absContacts li a:hover {
              background-color: rgba(255, 255, 255, 0.5);
              text-decoration: none; }
        body .flexcontainer .content .section .list ul {
          -webkit-columns: 3 12em;
          -moz-columns: 3 12em;
          columns: 3 12em;
          list-style-type: none;
          padding: 0; }
      body .flexcontainer .content .photobg {
        background-image: url(../img/rivervalley_lowres.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff; }
        body .flexcontainer .content .photobg.air3 {
          background-image: url(../img/aircraft3.jpg);
          background-position-y: -200px; }
      body .flexcontainer .content .letter {
        background: transparent url(../img/halftone.png) repeat top left; }
      body .flexcontainer .content .colorBlock * {
        color: #fff; }
      body .flexcontainer .content .colorBlock input {
        color: #000;
        text-align: center;
        margin-bottom: 0.5em;
        padding: 5px 10px; }
      body .flexcontainer .content .colorBlock input[type=submit] {
        border: 0;
        padding: 6px 10px;
        font-size: 12px;
        display: block;
        width: 100%; }
      body .flexcontainer .content .colorBlock.colorBlock1 {
        background-color: darkolivegreen; }
      body .flexcontainer .content .colorBlock.colorBlock2 {
        background-color: #746C62; }
    body .flexcontainer .buttonBox {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-content: center;
      -moz-align-content: center;
      align-content: center;
      -ms-flex-line-pack: center; }
      body .flexcontainer .buttonBox .outlineBtn {
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        font-size: 14px;
        text-align: center;
        padding: 10px 20px;
        -webkit-transition: all 0.15s ease;
        -moz-transition: all 0.15s ease;
        transition: all 0.15s ease;
        text-decoration: none;
        margin: 55px; }
        body .flexcontainer .buttonBox .outlineBtn .fineprint {
          font-size: 10px;
          display: block;
          text-transform: lowercase;
          line-height: 1; }
        body .flexcontainer .buttonBox .outlineBtn.dark {
          color: #1e1e1e; }
          body .flexcontainer .buttonBox .outlineBtn.dark:hover {
            border-color: #000; }
        body .flexcontainer .buttonBox .outlineBtn.small {
          padding: 5px 10px;
          font-size: 12px;
          margin: 25px; }
        body .flexcontainer .buttonBox .outlineBtn:hover {
          border-color: #fff;
          cursor: pointer;
          -webkit-transform: scale(1.1, 1.1);
          -moz-transform: scale(1.1, 1.1);
          -ms-transform: scale(1.1, 1.1);
          -o-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1); }
  body.home a.topLevelLink#homeLink, body.abs a.topLevelLink#absLink, body.ga a.topLevelLink#gaLink, body.inc a.topLevelLink#incLink, body.jobs a.topLevelLink#jobsLink {
    border-right-color: #ffc425; }
    body.home a.topLevelLink#homeLink:hover, body.abs a.topLevelLink#absLink:hover, body.ga a.topLevelLink#gaLink:hover, body.inc a.topLevelLink#incLink:hover, body.jobs a.topLevelLink#jobsLink:hover {
      color: #fff;
      background-color: transparent;
      cursor: default; }
  body .loader {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex: auto;
    align-items: center; }
    body .loader img {
      height: 16px;
      display: flex;
      width: 16px; }
  body .well {
    border: 1px solid #ccc;
    background: #efefef;
    padding: 1em; }
