@import "fonts";
@import "fsColors";
@import "bourbon/bourbon";

$darkaccent: #1e1e1e;
$dark: #353535;
$lightgray: #e9e9e9;
$mediumgray: #727272;
$menuAccent: #9cfe01;
$textAccent: #4cc2ff;


html, body {
    height: 100%;
}

body {
    font-family: open_sansregular;
    transition: all .15s ease;

    .flexcontainer {
        @include display(flex);
        @include justify-content(flex-start);
        min-height: 100vh;

        .sidebar {
            @include display(flex);
            width: 210px;
            background-color: $dark;
            color: #fff;
            @include flex-direction(column);
            min-height: 100vh;
            overflow: hidden;

            .header {
                @include display(flex);
                align-items: center;
                background-color: $darkaccent;
                height: 110px;

                .shield {
                    width: 30px;
                    height: 33px;
                    // background: transparent url(../img/shield.png) no-repeat top left;
                    margin-left: 15px;
                }

                .usfs {
                    line-height: 30px;
                    padding-left: 10px;
                    @include box-sizing(border-box);
                    font-family: open_sanssemibold;
                }
            }

            nav {
                @include flex(1);
                @include display(flex);
                padding-top: 10px;

                ul,li {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }

                >ul {
                    width: 100%;

                  >li {
                    >a {
                        display:block;
                        color: #fff;
                        font-family: open_sanssemibold;
                        font-size: 14px;
                        padding-left: 15px;
                        line-height: 2.8em;
                        border-right: 8px solid transparent;
                        @include transition(all .15s ease);

                        &:hover {
                            background-color: $darkaccent;
                            text-decoration: none;
                            color: $textAccent;
                        }
                    }

                    .subnavList {
                        // background-color: lighten($darkaccent, 5%);

                        a {
                            display: block;
                            padding: 5px 20px;
                            font-size: .8em;
                            color: #fff;

                            &:hover {
                                text-decoration: none;
                                background-color: $darkaccent;
                                color: $textAccent;
                            }
                        }
                    }
                  }


                }
            }

            footer {
                @include display(flex);
                @include justify-content(center);
                @include align-items(center);
                height: 36px;
                font-size: 14px;
                font-family: open_sanssemibold;
                color: #fff;
                position: relative;

                .siteInfoLink {
                    color: #fff;
                    text-decoration: none;
                }

                .glyphicon {
                    color: darken(#ffffff, 35%)
                }

                &:hover {
                    cursor: pointer;
                }

                .siteDrawer {
                    position: absolute;
                    bottom: -300px;
                    left: 0;
                    width: 100%;
                    background-color: #ccc;
                    @include transition(all .5s ease);
                    padding: 15px;
                    @include box-sizing(border-box);
                    font-family: open_sansregular;

                    ul,li {
                        list-style-type: none;
                        padding: 0;
                        margin: 0;
                    }

                    a {
                        font-size: 13px;
                        font-weight: normal;
                    }

                    .address {
                        color: $darkaccent;
                        font-size: 13px;

                    }

                    .siteDrawerHandle {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        top: -20px;
                        right:0;
                        #siteDrawerHandleLabel {
                            text-indent: -8999em;
                            position: absolute;
                        }
                        .glyphicon {
                            color: #000;
                            background-color: #ccc;
                            padding: 3px;

                            &.glyphicon-arrow-down {
                                display: none;
                            }
                        }

                        &:hover {
                            .glyphicon-remove {
                                display: none;
                            }
                            .glyphicon-arrow-down {
                                display: block;
                            }
                        }
                    }

                    &.opened {
                        bottom: 0;
                    }
                }
            }
        }

        .content {
            @include display(flex);
            @include flex-direction(column);
            @include flex(1);

            .titlebar {
                background-color: $lightgray;
                font-size: 16px;
                color: #000;
                line-height: 60px;
                @include display(flex);
                padding-left: 25px;
                height: 60px;
            }

            .main {
                overflow-y: auto;
                @include flex(1);
                height: 0;

                &.mainCols {
                    @include flex-direction(row);
                    @include flex-wrap(nowrap);
                    @include display(flex);
                }

                &.fullbg {
                    background-size: cover;
                }

                &.contactbg {
                    background-color: #fff;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url(../img/contactbg.jpg);
                }

                &.callbg {
                    background-color: #000;
                    background-image: url(../img/ironfire.jpg);
                    color:#000;
                }

                &.incibg {
                    background-image: url(../img/mossybark.jpg);
                    color: #fff;
                    background-color: #000;
                }

                .sectionHeader {
                    text-align: center;
                    padding: 55px;

                }

                .light {
                    color: #fff;
                }

                #absContacts,
                #absContacts li {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                }

                #absContacts li {
                    text-align: center;
                    display: block;
                    font-size: 24px;
                    background-color: rgba(0,0,0,0.35);

                    a {
                        background: transparent;
                        color: #fff;

                        &:hover {
                            background-color: rgba(255,255,255,0.5);
                            text-decoration: none;
                        }
                    }
                }
            }

            .block-34,
            .block-14 {
                @include display(flex);
                @include flex-direction(column);
            }


            .block-34 {
                @include flex(3 2 auto);

            }

            .block-14 {

                @include flex(1 2 auto );
                background: red;
            }

            .tabs {

                .sectionHeader {
                    text-align: left;
                    padding-bottom: 10px;
                }


               .tabbar {
                   padding: 5px 5px 0 55px;
                   @include display(flex);

                   border-bottom: 1px solid #ccc;


                   a {
                      background-color: #d3d3d3;
                      padding: 10px 20px;
                      color: #585858;
                      margin-top: 0px;
                      display: inline-block;
                      @include box-sizing(border-box);
                      text-decoration: none;
                      margin: 0 2px;
                      @include transition(all .25s ease);


                      &.active {
                       background-color: #fff;
                       color: #000;
                       border: 1px solid #ccc;
                       border-bottom: transparent;
                       margin-bottom: -1px;

                       &:hover {
                           background-color: #fff;
                           color: #000;
                       }
                      }

                      &:hover {
                       background-color: $darkaccent;
                       color: #4cc2ff;
                      }
                   }
               }

            }



            .tabContent {
                padding: 55px;
            }



            .wideBlock {
                width: 100%;
                padding: 55px;
                font-size: 14px;
                line-height: 2;

                h2 {
                    text-align: center;
                    font-family: open_sansbold;
                    font-size: 3em;
                }

            }

            .lowBlock {
                padding: 0;
            }

            .photobg {
                background-image: url(../img/rivervalley_lowres.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                color: #fff;

                &.air3 {
                    background-image: url(../img/aircraft3.jpg);
                    background-position-y: -200px;
                }
            }

            .letter {
                background: transparent url(../img/halftone.png) repeat top left;
            }

            .colorBlock {
                background-color: darkolivegreen;

                h2 {
                    color: #fff;

                }
            }


        }

        .buttonBox {
            @include display(flex);
            @include justify-content(center);
            @include align-content(center);

            .outlineBtn {
                border: 1px solid #fff;
                background-color: transparent;
                color: #fff;
                font-size: 14px;
                text-align: center;
                padding: 10px 20px;
                @include transition(all .15s ease);
                text-decoration: none;
                margin: 55px;


                .fineprint {
                    font-size: 10px;
                    display: block;
                    text-transform: lowercase;
                    line-height: 1;
                }

                &.dark {
                    color: $darkaccent;

                    &:hover {
                        border-color: #000;
                    }
                }

                &.small {
                    padding: 5px 10px;
                    font-size: 12px;
                    margin: 25px;
                }

                &:hover {
                    border-color: #fff;
                    cursor: pointer;
                    @include transform(scale(1.1,1.1));
                }
            }
        }
    }

    &.home a.topLevelLink#homeLink,
    &.abs a.topLevelLink#absLink,
    &.ga a.topLevelLink#gaLink,
    &.inc a.topLevelLink#incLink,
    &.jobs a.topLevelLink#jobsLink {
        border-right-color: $menuAccent;
        // color: $menuAccent

        &:hover {
            color: #fff;
            background-color: transparent;
            cursor: default;
        }
    }

}